@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-body: var(--font-jetbrains-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), monospace;
  transition: background-color 0.3s, color 0.3s;
}

header {
  transition: border-color 0.3s;
}

footer {
  transition: border-color 0.3s;
}
